html, body {
    height: 100%;
    margin: 0px; padding: 0px;
}

body#SearchForm{ 
	background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
	background-repeat:no-repeat; 
	background-position:center; 
	padding:10px;
	background-attachment: fixed;
}


#obavestenje{
	color: red;
	margin: 10px;
}

.custom-select{
	color: black;
	outline:0;
}

select:focus{
	outline: none !important;
}
option:focus{
	outline: none !important;
}


.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}

/*
.panel h3{ 
	font-family:verdana;
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 3px 3px 9px rgba(83,83,83,0.86);
	}
*/

.panel p{ color:#777777; font-size:14px; margin-bottom:20px; line-height:24px;}

.container{
	height: 100vh;
	padding: 5vw;
}

.search-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.form-control{
	display: inline-block;
}

.part{
	margin: 10px;
}

.main-div {
  /*background: #ffffff none repeat scroll 0 0;*/
  background-color: white;
  border-radius: 2px;
  margin: 10px auto 10px;
  padding: 45px 50px 45px 50px;
  position: relative;
}

.search-form .form-group {
  margin-bottom:10px;
}

.search-form{ text-align:center;}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.search-form  .btn.btn-primary {
  background: white none repeat scroll 0 0;
  border-color: black;
  /*border-width: 2px;*/
  color: black;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 5px 0 0 0;
  font-size : 16px;
  font-family:verdana;
}

.forgot {
  text-align: left; margin-bottom:30px;
}

#headingOne{
	/*background: #E7C5BB
	background: #d6c7c2
	z-index: 1;
	display: table-cell;
	position: absolute;
	background: #d6c7c2*/
	background-color: gray;
}




#headingTwo{
	/*background: #E6CEC2;*/
	background-color: gray;
}

.card-header h5 button.btn.btn-link{
	color: white;
	font-size: 20px;
	/*text-shadow: 2px 2px 4px #000000;*/
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 3px 3px 9px rgba(83,83,83,0.86);
	text-decoration: none;
	font-family:verdana;
}

#register{
	z-index: 1;
}

#uploadFile{
	cursor: pointer;
}

#uploadFileTwo{
	height: 0px;
	width: 0px;
	visibility: hidden;
	padding: 0px;
}


.select-wrap {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  /*padding: 0 5px;
  width:200px;*/
  background-color:#fff;
  position:relative;
  text-align: left;
  display: inline-block;
}
.select-wrap label{
  font-size:8px;
  text-transform: uppercase;
  color: #777;
  padding: 0 8px;  
  position: absolute;
  top:6px;
}
select{
  background-color: #fff;
  border:0px;
  height:50px;
  font-size: 16px;
}





.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back { text-align: left; margin-top:10px;}

.back a {color: #444444; font-size: 13px;text-decoration: none;}

.naslov{
	text-align: left;
	margin: 10px 0 5px 10px;
	font-size: 20px;
}




.align-center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
    background: red;
}
















